aiohttp==0.15.3
chardet==2.3.0
cssselect==0.9.1
Flask==0.10.1
GoogleScraper==0.1.37
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.4
MarkupSafe==0.23
PyMySQL==0.6.6
requests==2.7.0
selenium==2.45.0
SQLAlchemy==1.0.3
Werkzeug==0.10.4
