<!DOCTYPE html>
<html lang="en">
<head>
    <title>Complete? Parakeet!</title>
</head>
<body>
    <h1>Complete? Parakeet!</h1>
    {% if invalid_form_msg %}
    <p>{{ invalid_form_msg }}</p>
    {% endif %}
    <form name="scavItemForm" action="" onsubmit="return validateForm()" method=post enctype=multipart/form-data>
        Item Number/Name:<br>
        <input type="text" name="itemNumberName"><br>
        Description:<br>
        <input type="text" name="description"><br>
        Upload:<br>
        <input type="file" name="file">
        <input type ="submit" value="Upload">
    </form>
    {% if parakeet_img %}
    <img src={{ parakeet_img }}><br>
    {% endif %}
    {% if completed_items %}
    <h2>Completed Items:</h2>
    <table>
        <tr>
            <td>Item Number/Name</td>
            <td>Description</td>
            <td>File</td>
        </tr>
    {% endif %}
    {% for item in completed_items %}
        <tr>
            <td>{{ item.itemNumberName }}</td>
            <td>{{ item.description }}</td>
            <td>
                {% if item.file_link %}
                <a href={{ item.file_link }} download>
                    <img src="static/download_img.png">
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% if completed_items %}
    </table>
    {% endif %}
</body>
